<ng-container *ngIf="user$ | async as _user">
  <div class="menu-item px-3">
    <div class="menu-content d-flex align-items-center px-3">
      <div class="symbol symbol-50px me-5">
        <span [inlineSVG]="'../../../../../assets/media/icons/duotune/menu/user.svg'" class="svg-icon svg-icon-1"></span>
      </div>

      <div class="d-flex flex-column">
        <div class="fw-bolder d-flex align-items-center fs-5">
          {{ _user.name }}
        </div>
        <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer">
          {{ _user.email }}
        </a>
      </div>
    </div>
  </div>

  <div class="separator my-2"></div>

  <div class="menu-item px-5">
    <a routerLink="/user-edit/{{userId}}" routerLinkActive="active" class="menu-link px-5">
      Profilim
    </a>
  </div>

  <div class="separator my-2"></div>

  <div class="menu-item px-5">
    <a (click)="logout()" class="menu-link px-5 cursor-pointer">Çıkış Yap</a>
  </div>
</ng-container>
