.leave-information-widget {
  display: flex;
  flex-direction: column;
}

.leave-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.leave-type {
  font-weight: bold;
}

.leave-status {
  padding: 5px 5px;
}
