<div class="card mb-5 mb-xl-12" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Genel Bilgiler</h3>
    </div>
  </div>
  <form novalidate="novalidate" [formGroup]="updateUserForm" class="form col-lg-12 mx-auto">
    <input type="text" matInput name="id" formControlName="id" hidden>
    <div class="card-body p-9">
      <div class="row">
        <div class="col-lg-6 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ad</mat-label>
            <input type="text" matInput name="name" formControlName="name">
            <mat-error *ngIf="updateUserForm.controls['name'].hasError('required')">
              Ad <strong>Zorunludur</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Soyad</mat-label>
            <input type="text" matInput name="surname" formControlName="surname">
            <mat-error *ngIf="updateUserForm.controls['surname'].hasError('required')">
              Soyad <strong>Zorunludur</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>E Mail (İş)</mat-label>
            <input type="text" matInput name="emailBusiness" formControlName="emailBusiness">
            <mat-error *ngIf="updateUserForm.controls['emailBusiness'].hasError('required')">
              E Mail (İş) <strong>Zorunludur</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>E Mail (Kişisel)</mat-label>
            <input type="text" matInput name="emailPersonal" formControlName="emailPersonal">
            <mat-error *ngIf="updateUserForm.controls['emailPersonal'].hasError('required')">
              E Mail (Kişisel) <strong>Zorunludur</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefon (İş)</mat-label>
            <input type="number" matInput name="phoneBusiness" formControlName="phoneBusiness">
            <mat-error *ngIf="updateUserForm.controls['phoneBusiness'].hasError('required')">
              Telefon (İş)<strong>Zorunludur</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefon (Kişisel)</mat-label>
            <input type="number" matInput name="phonePersonal" formControlName="phonePersonal">
            <mat-error *ngIf="updateUserForm.controls['phonePersonal'].hasError('required')">
              Telefon (Kişisel)<strong>Zorunludur</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>İşe Başlama Tarihi</mat-label>
            <input matInput formControlName="startDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-6"><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Erişim Türü</mat-label>
            <mat-select formControlName="accessType">
              <mat-option *ngFor="let item of accessTypeSources"
                [value]="item">
                {{accessTypeLabelMapping[item]}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="updateUserForm.get('accessType')">Erişi Tipi</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6"><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sözleşme Türü</mat-label>
            <mat-select formControlName="contractType">
              <mat-option *ngFor="let item of contractTypeSources"
                [value]="item">
                {{contractTypeLabelMapping[item]}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="updateUserForm.get('contractType')">Erişi Tipi</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Sözleşme Bitiş Tarihi</mat-label>
            <input matInput formControlName="contractEndDate" [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-lg-12 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Rol</mat-label>
            <mat-select name="roles" formControlName="roles" multiple required>
              <mat-option *ngFor="let role of roleFilteredData | async" [value]="role.id">{{role.name}}</mat-option>
            </mat-select>
            <button mat-button *ngIf="updateUserForm.controls['roles'].value" matSuffix mat-icon-button
              aria-label="Clear" (click)="updateUserForm.controls['roles'].setValue(''); $event.stopPropagation()"
              class="select-clear">
                <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/arrows/arr011.svg'"></span>
            </button>
            <mat-error *ngIf="updateUserForm.controls['roles'].hasError('required')">Rol Seçiniz</mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <button type="button" class="btn btn-sm btn-success" [disabled]="updateUserForm.invalid || (isLoading$ | async)"
        (click)="saveUser()">
        <ng-container *ngIf="!(isLoading$ | async)">Kaydet</ng-container>
        <ng-container *ngIf="isLoading$ | async">
          <span clas="indicator-progress" [style.display]="'block'">
            Lütfen bekleyiniz...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </ng-container>
      </button>
    </div>
  </form>
</div>
