<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Maaş Bilgisi Listesi</h3>
    </div>
    <a (click)="showSalaryModal(userSalaryCreate)" class="btn btn-sm btn-danger align-self-center">
      Maaş Bilgisi Ekle
    </a>
  </div>
  <div class="card-body p-2">
    <dx-data-grid id="gridContainer" [dataSource]="dataSource" [columnAutoWidth]="true" [showRowLines]="true"
      [showColumnLines]="true" [showBorders]="true">

      <dxo-paging [pageSize]="25"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
      <dxo-filter-panel [visible]="false"></dxo-filter-panel>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxo-group-panel [visible]="true"></dxo-group-panel>

      <dxi-column dataField="salary" dataType="string" caption="Maaş" [format]="{ type: 'fixedPoint', precision: 2 }"></dxi-column>
      <dxi-column dataField="currencyType" dataType="string" caption="Para Birimi" cellTemplate="currencyTypeTemplate"></dxi-column>
      <dxi-column dataField="startDate" dataType="date" caption="Tarih" format='dd/MM/yyyy'></dxi-column>
      <dxi-column dataField="period" dataType="string" caption="Periyod" cellTemplate="periodTemplate"></dxi-column>
      <dxi-column dataField="salaryType" dataType="string" caption="Maaş Tipi" cellTemplate="salaryTypeTemplate"></dxi-column>
      <dxi-column type="buttons" [width]="110" [fixed]="true" caption="İşlemler"
        cellTemplate="cellBtnTemplate"></dxi-column>

      <div *dxTemplate="let item of 'cellBtnTemplate'">
        <a (click)="editSalaryClick(item, userSalaryEdit)"
          class="btn btn-icon btn-bg-light btn-active-color-success btn-sm me-1" title="Düzenle">
          <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/general/gen055.svg'"></span>
        </a>
        <a (click)="deleteSalaryClick(item)" class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm" title="Sil">
          <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/arrows/arr011.svg'"></span>
        </a>
      </div>
      <div *dxTemplate="let data of 'currencyTypeTemplate'">
        <span>{{CurrencyTypeLabelMapping[data.value]}}</span>
      </div>
      <div *dxTemplate="let data of 'periodTemplate'">
        <span>{{PeriodLabelMapping[data.value]}}</span>
      </div>
      <div *dxTemplate="let data of 'salaryTypeTemplate'">
        <span>{{SalaryTypeLabelMapping[data.value]}}</span>
      </div>
    </dx-data-grid>
  </div>
</div>

<ng-template #userSalaryCreate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Maaş Bilgisi Ekleme</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <app-salary-create [userId]="userId" (userSalaryCreate)="reloadDataSource($event)"></app-salary-create>
</ng-template>

<ng-template #userSalaryEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">İş Bilgisi Düzenleme</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <app-salary-update [salaryId]="salaryId" (userSalaryEdit)="reloadDataSource($event)"></app-salary-update>
</ng-template>
