<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Mesailerim</h3>
    </div>
    <a (click)="showOvertimeModal(userOvertimeCreate)" class="btn btn-sm btn-danger align-self-center">
      Mesai Ekle
    </a>
  </div>
  <div class="card-body p-2">
    <dx-data-grid id="gridContainer" [dataSource]="dataSource" [columnAutoWidth]="true" [showRowLines]="true"
      [showColumnLines]="true" [showBorders]="true">

      <dxo-paging [pageSize]="25"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 100]"></dxo-pager>
      <dxo-filter-panel [visible]="false"></dxo-filter-panel>
      <dxo-filter-row [visible]="true"></dxo-filter-row>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
      <dxo-group-panel [visible]="true"></dxo-group-panel>

      <dxi-column dataField="timeHour" dataType="string" caption="Saat"></dxi-column>
      <dxi-column dataField="timeMinute" dataType="string" caption="Dakika"></dxi-column>
      <dxi-column dataField="description" dataType="string" caption="Açıklama"></dxi-column>
      <dxi-column dataField="startDate" dataType="date" caption="Başlangıç Tarihi" format='dd/MM/yyyy HH:mm'></dxi-column>
      <dxi-column type="buttons" [width]="110" [fixed]="true" caption="İşlemler"
        cellTemplate="cellBtnTemplate"></dxi-column>

      <div *dxTemplate="let item of 'cellBtnTemplate'">
        <a (click)="editOvertimeClick(item, userOvertimeEdit)"
          class="btn btn-icon btn-bg-light btn-active-color-success btn-sm me-1" title="Düzenle">
          <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/general/gen055.svg'"></span>
        </a>
        <a (click)="deleteOvertimeClick(item)" class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm" title="Sil">
          <span class="svg-icon svg-icon-2" [inlineSVG]="'./assets/media/icons/duotune/arrows/arr011.svg'"></span>
        </a>
      </div>
    </dx-data-grid>
  </div>
</div>

<ng-template #userOvertimeCreate let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Mesai Ekleme</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <app-overtime-create [userId]="userId" (userOvertimeCreate)="reloadDataSource($event)"></app-overtime-create>
</ng-template>

<ng-template #userOvertimeEdit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Mesai Bilgisi Düzenleme</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
  </div>
  <app-overtime-update [overtimeId]="overtimeId" (userOvertimeEdit)="reloadDataSource($event)"></app-overtime-update>
</ng-template>
