#custom-cell-for-statition {
  display: inline-block !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 5px !important;
  border-radius: 11px !important;
}
