<div *ngIf="userData && userData.length > 0">
  <div class="card card-xl-stretch mb-xl-8">
    <div class="card-header border-0" style="justify-content: center;">
      <h3 class="card-title fw-bold text-gray-900">Onay Bekleyen Ödemeler</h3>
    </div>
    <div class="card-body pt-2">
      <ng-container *ngFor="let item of userData; let last = last">
        <div class="d-flex align-items-center mb-7">
          <div class="symbol symbol-50px me-3">
            <img src="{{ item.profilPicture }}" alt="Profil Picture" class="img-fluid resized-img">
          </div>
          <div class="flex-grow-1">
            <a href="/user-edit/{{item.userId}}" class="text-gray-900 fw-bold text-hover-primary fs-6">{{ item.userNameSurname }}</a>
          </div>
          <div>
            <span class="text-muted d-block fw-bold">
              {{ item.paymentDate | date:'dd/MM/yyyy' }}
            </span>
          </div>
        </div>
        <div *ngIf="!last" class="separator separator-dashed my-3"></div>
      </ng-container>
    </div>
  </div>

</div>
