<form novalidate="novalidate" [formGroup]="salaryUpdateForm" class="form col-lg-12 mx-auto">
  <input type="text" matInput name="userId" formControlName="userId" hidden>
  <div class="card-body p-9">
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Başlangıç Tarihi</mat-label>
          <input matInput formControlName="startDate" [matDatepicker]="pickerStart" required="true">
          <mat-datepicker-toggle matSuffix [for]="pickerStart" ></mat-datepicker-toggle>
          <mat-datepicker #pickerStart ></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-lg-4 mb-5 fv-row">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Maaş</mat-label>
          <input type="text" matInput name="salary" formControlName="salary">
          <mat-error *ngIf="salaryUpdateForm.controls['salary'].hasError('required')">
            Maaş <strong>Zorunludur</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Para Birimi</mat-label>
          <mat-select formControlName="currencyType">
            <mat-option *ngFor="let item of currencyTypeSources" [value]="item">
              {{currencyTypeLabelMapping[item]}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="salaryUpdateForm.get('currencyType')">Para Birimi</mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Periyod</mat-label>
          <mat-select formControlName="period">
            <mat-option *ngFor="let item of periodSources" [value]="item">
              {{periodLabelMapping[item]}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="salaryUpdateForm.get('period')">Periyod</mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-6">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Maaş Tipi</mat-label>
          <mat-select formControlName="salaryType">
            <mat-option *ngFor="let item of salaryTypeSources" [value]="item">
              {{salaryTypeLabelMapping[item]}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="salaryUpdateForm.get('salary')">Maaş Tipi</mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end py-6 px-9">
    <button type="button" class="btn btn-sm btn-success" [disabled]="salaryUpdateForm.invalid || (isLoading$ | async)" (click)="saveSalary()">
      <ng-container *ngIf="!(isLoading$ | async)">Kaydet</ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span clas="indicator-progress" [style.display]="'block'">
          Lütfen bekleyiniz...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
  </div>
</form>