<div class="card mb-5 mb-xl-12" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Diğer Bilgiler</h3>
    </div>
  </div>
  <form novalidate="novalidate" [formGroup]="saveOtherInformationForm" class="form col-lg-12 mx-auto">
    <input type="text" matInput name="userId" formControlName="userId" hidden>
    <div class="card-body p-9">
      <div class="row">
        <div class="col-lg-12">
          <h4>Adres Bilgileri</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ülke</mat-label>
            <mat-select formControlName="countryId" [(ngModel)]="selectedCountryId" [(value)]="selectedCountry">
              <mat-option>
                <ngx-mat-select-search [formControl]="countrySearch" placeholderLabel="Listede ara..."
                  noEntriesFoundLabel="Sonuç bulunamadı">
                  <mat-icon ngxMatSelectSearchClear>
                    <span class="svg-icon svg-icon-5" [inlineSVG]="'./assets/media/icons/arrows/arr061.svg'"></span>
                  </mat-icon>
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let item of countryFilteredData | async" [value]="item.id"
                (click)="onChangeCountry()">
                {{item.code}} - {{item.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="saveOtherInformationForm.get('countryId')">Ülke Seçiniz</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Şehir</mat-label>
            <mat-select formControlName="cityId" [(ngModel)]="selectedCityId" [(value)]="selectedCity">
              <mat-option>
                <ngx-mat-select-search [formControl]="citySearch" placeholderLabel="Listede ara..."
                  noEntriesFoundLabel="Sonuç bulunamadı">
                  <mat-icon ngxMatSelectSearchClear>
                    <span class="svg-icon svg-icon-5" [inlineSVG]="'./assets/media/icons/arrows/arr061.svg'"></span>
                  </mat-icon>
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let item of cityFilteredData | async" [value]="item.id" (click)="onChangeCity()">
                {{item.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="saveOtherInformationForm.get('cityId')">Şehir Seçiniz</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>İlçe</mat-label>
            <mat-select formControlName="districtId" [(ngModel)]="selectedDistrictId" [(value)]="selectedDistrict">
              <mat-option>
                <ngx-mat-select-search [formControl]="districtSearch" placeholderLabel="Listede ara..."
                  noEntriesFoundLabel="Sonuç bulunamadı">
                  <mat-icon ngxMatSelectSearchClear>
                    <span class="svg-icon svg-icon-5" [inlineSVG]="'./assets/media/icons/arrows/arr061.svg'"></span>
                  </mat-icon>
                </ngx-mat-select-search>
              </mat-option>
              <mat-option *ngFor="let item of districtFilteredData | async" [value]="item.id">
                {{item.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="saveOtherInformationForm.get('districtId')">İlçe Seçiniz</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Adres</mat-label>
            <input type="text" matInput name="address" formControlName="address">
            <mat-error *ngIf="saveOtherInformationForm.controls['address']">
              Adres
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Posta Kodu</mat-label>
            <input type="text" matInput name="postCode" formControlName="postCode">
            <mat-error *ngIf="saveOtherInformationForm.controls['postCode']">
              Posta Kodu
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ev Telefonu</mat-label>
            <input type="text" matInput name="homePhone" formControlName="homePhone">
            <mat-error *ngIf="saveOtherInformationForm.controls['homePhone']">
              Ev Telefonu
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4>Banka Bilgileri</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Banka Adı</mat-label>
            <input type="text" matInput name="bankName" formControlName="bankName">
            <mat-error *ngIf="saveOtherInformationForm.controls['bankName']">
              Banka Adı
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6"><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Hesap Tipi</mat-label>
            <mat-select formControlName="accountType">
              <mat-option *ngFor="let item of accountTypeSources" [value]="item">
                {{accountTypeLabelMapping[item]}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="saveOtherInformationForm.get('accountType')">Hesap Tipi</mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Hesap No</mat-label>
            <input type="text" matInput name="accountNumber" formControlName="accountNumber">
            <mat-error *ngIf="saveOtherInformationForm.controls['accountNumber']">
              Hesap No
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Iban</mat-label>
            <input type="text" matInput name="iban" formControlName="iban">
            <mat-error *ngIf="saveOtherInformationForm.controls['iban']">
              Iban
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4>Acil Durum Bilgileri</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Acil Durumda Aranacak Kişi</mat-label>
            <input type="text" matInput name="emergencyContactPerson" formControlName="emergencyContactPerson">
            <mat-error *ngIf="saveOtherInformationForm.controls['emergencyContactPerson']">
              Acil Durumda Aranacak Kişi
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Yakınlık Derecesi</mat-label>
            <input type="text" matInput name="emergencyContactDegree" formControlName="emergencyContactDegree">
            <mat-error *ngIf="saveOtherInformationForm.controls['emergencyContactDegree']">
              Yakınlık Derecesi
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefon</mat-label>
            <input type="text" matInput name="emergencyContactPhone" formControlName="emergencyContactPhone">
            <mat-error *ngIf="saveOtherInformationForm.controls['emergencyContactPhone']">
              Telefon
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h4>Bağlantılar (LinkedIn)</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Bağlantı Adı</mat-label>
            <input type="text" matInput name="connectionName" formControlName="connectionName">
            <mat-error *ngIf="saveOtherInformationForm.controls['connectionName']">
              Bağlantı Adı
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-4 mb-5 fv-row">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Bağlantı Adresi</mat-label>
            <input type="text" matInput name="connectionAddress" formControlName="connectionAddress">
            <mat-error *ngIf="saveOtherInformationForm.controls['connectionAddress']">
              Bağlantı Adresi
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="card-footer d-flex justify-content-end py-6 px-9">
      <button type="button" class="btn btn-sm btn-success"
        [disabled]="saveOtherInformationForm.invalid || (isLoading$ | async)" (click)="saveOtherInformation()">
        <ng-container *ngIf="!(isLoading$ | async)">Kaydet</ng-container>
        <ng-container *ngIf="isLoading$ | async">
          <span clas="indicator-progress" [style.display]="'block'">
            Lütfen bekleyiniz...
            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
          </span>
        </ng-container>
      </button>
    </div>
  </form>
</div>
