<form novalidate="novalidate" [formGroup]="changepasswordCreateForm" class="form col-lg-12 mx-auto">
  <input type="text" matInput name="userId" formControlName="userId" hidden>
  <div class="card-body p-9">
    <div class="row">
      <div class="col-lg-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Eski Şifre</mat-label>
          <input type="password" matInput name="oldPassword" formControlName="oldPassword">
          <mat-error *ngIf="changepasswordCreateForm.controls['oldPassword'].hasError('required')">
             <strong>Zorunludur</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Yeni Şifre</mat-label>
          <input type="password" matInput name="newPassword" formControlName="newPassword">
          <mat-error *ngIf="changepasswordCreateForm.controls['newPassword'].hasError('required')">
             <strong>Zorunludur</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-lg-4">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Yeni Şifre(Tekrar)</mat-label>
          <input type="password" matInput name="newPasswordRepeat" formControlName="newPasswordRepeat">
          <mat-error *ngIf="changepasswordCreateForm.controls['newPasswordRepeat'].hasError('required')">
             <strong>Zorunludur</strong>
          </mat-error>
        </mat-form-field>
      </div>
  </div>
</div>
  <div class="card-footer d-flex justify-content-end py-6 px-9">
    <button type="button" class="btn btn-sm btn-success" [disabled]="changepasswordCreateForm.invalid || (isLoading$ | async)" (click)="saveChangepassword()">
      <ng-container *ngIf="!(isLoading$ | async)">Kaydet</ng-container>
      <ng-container *ngIf="isLoading$ | async">
        <span clas="indicator-progress" [style.display]="'block'">
          Lütfen bekleyiniz...
          <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
        </span>
      </ng-container>
    </button>
  </div>
</form>
